:root {
    --btn-background-color: #3867D6;
    --btn-font-color: #fff;
    --green-color: #20BF6B;
    --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    --ok-color: rgb(189, 204, 138);
    --ng-color: rgb(250, 186, 150);
    --text-black1: rgb(37, 50, 52);
    --text-black2: rgb(176, 184, 184);
    --background-color: rgb(242, 248, 248);
    --point-color1: #0397bf;

    --primary-color: #3867D6;
    --background-color: #fff;
    --panel-color: #F0F3F5;
    --text-color: #29363d;
    --btn-border: #fff;
    --disable-color: #536c79;
    --icon-color: #a2b8ec;
    --red-color: #F03434;
    --yellow-color: #F6BB42;
}

@font-face {
    font-family: 'SCDream1';
    src: url("/font/SCDream1.otf");
}

@font-face {
    font-family: 'SCDream2';
    src: url("/font/SCDream2.otf");
}

@font-face {
    font-family: 'SCDream3';
    src: url("/font/SCDream3.otf");
}

@font-face {
    font-family: 'SCDream4';
    src: url("/font/SCDream4.otf");
}

@font-face {
    font-family: 'SCDream5';
    src: url("/font/SCDream5.otf");
}

@font-face {
    font-family: 'SCDream6';
    src: url("/font/SCDream6.otf");
}

@font-face {
    font-family: 'SCDream7';
    src: url("/font/SCDream7.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SCDream4;
    font-size: 14px;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 1px solid var(--disable-color);
}

.logo {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: auto;
    height: calc(100% - 10px);
}

.title {
    width: calc(100% - 400px);
    height: 100%;
    font-family: SCDream6;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
}

.content_top {
    width: 100%;
    height: 60%;
    display: flex;
}

.img {
    position: relative;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.graph {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.graph_item {
    width: 100%;
    height: 33.3%;
}


.plc {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.plc_item {
    width: 100%;
    height: calc(70% - 5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    width: 100%;
    height: calc(25% - 3px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status {
    width: calc(20% - 5px);
    height: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.okng {
    width: 100%;
    height: 30%;
    font-family: SCDream6;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: var(--text-black1);
    background: var(--ok-color);
    box-shadow: var(--box-shadow);
}

.content_bottom {
    width: 100%;
    height: 40%;
    padding: 0px 5px;
}


table {
    width: 100%;
    height: auto;
    border-collapse: separate;
    /* 기본값은 collapse인데 separate로 설정 */
    border-spacing: 0 10px;
    /* 세로 간격 10px, 가로 간격 0px */
    text-align: center;
    margin: 0;
    color: var(--text-black1);
}

.bottom_table tr,
.bottom_table th,
.bottom_table td {
    height: 40px;
}

tr{
    background: var(--background-color);
    box-shadow: var(--box-shadow);
}

.td_state {
    width: 15px;
    height: 100%;
    background: var(--ok-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 0 !important;
}

.td_id {
    font-family: SCDream6;
    font-size: 25px;
}

.td_title{
    color: var(--text-black2);
}

.data_item {
    width: calc(100% / 15);
    font-family: SCDream6;
    display: inline-block;
}

.td_time{
    font-family: SCDream6;
    color: var(--point-color1);
}